<footer class="site-footer">

  <div class="wrapper">

 <!--    <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
            <p>Copyright © 2018<br>旅するマルチポテンシャライト</p>
      </div>

      <div class="footer-col footer-col-2">

      </div>

      <div class="footer-col footer-col-3">
           <a target="_blank" href="https://facebook.com/{{site.f}}"><div class="social fb">f</div></a>
           <a target="_blank" href="https://twitter.com/{{site.t}}"><div class="social tw">t</div></a>
           <a target="_blank" href="https://instagram.com/{{site.i}}"><div class="social insta">i</div></a>
           <a target="_blank" href="https://youtube.com/channel/{{site.y}}"><div class="social yt">y</div></a>

      </div>
    </div>

  </div>

</footer>
